body {
    background-image: url("loginCoffee.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
 
#login_frame {
    width: 600px;
    height: 750px;
    padding: 13px;
    position: absolute;
    left: 70%;
    top: 30%;
    margin-left: -200px;
    margin-top: -200px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    text-align: center;
}
 
form p > * {
    display: inline-block;
    vertical-align: middle;
}

#welcome {
    padding-top: 40px;
    text-align:center;
    color: #c2c3c3;
    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;
}
.logo img{
    width:400px;
    height: 200px;
}

.img_e{
    margin-right: 15px;
    width: 35px;
}

.img_k{
    margin-right: 15px;
    height: 40px;
    width: 35px;
}

.loginbox{
    margin-bottom: 25px;
}

.text_field {
    width: 278px;
    height: 28px;
    border: 0;
    background-color:rgba(255,255,255,0);
    border-bottom: 2px #ABABAB solid;
    color: white;
}
 
#btn_login {
    font-size: 20px;
    font-family: sans-serif;
    width: 180px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: rgba(0,0,0,0.6);
    background-color: rgba(255, 255, 255 ,0.6);
    border-radius: 20px;
    border: 0;
    float: left;
}
 
#forget_pwd {
    font-size: 20px;
    color: white;
    text-decoration: none;
    position: relative;
    float: right;
    top: 8px;
 
}

#btn_login:hover{
    background-color: rgba(255, 255, 255 ,0.8);
}

#forget_pwd:hover {
    color: black;
    text-decoration: underline;
}
 
.login_control{
    margin-top: 70px;
    padding: 0 56px;
}