
.container{
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}
body{
    width: 100%;
    height: 100%;
    padding:0;
    margin:0px;
    display: block;
    background-image: url("./toms.jpg");
    background-repeat: no-repeat;
}
header{
    padding:0;
    margin:0;
    display: flex;
    justify-content: space-between;
    opacity: 0.7;
    background-color: #000000;
    border-radius: 5px;
    height: 220px;
    width: 1900px;
}

.nav{
    margin-top: 35px;
    position: relative;
}
.nav-list{
    display: flex;
    margin: 0;
    padding: 0;
    margin-top:40px;
    margin-right: 100px;
}
.nav-sublist{
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: black;
    display: none;
}
.nav-list-item:hover .nav-sublist{
    display: block;
}
.nav-list-item{
    list-style: none;
    margin-right: 5px;
}
.nav-list-item-link{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    font-size: 30px;
}
.nav-list-item-link:hover{
    background-color: #181818;
}
.pict{
    opacity: 1;
    margin-left: 100px;
    height: 200px;
    width: 220px;
}
.down{
    margin-left:900px;
    margin-top:721px;
}
.text{
    display: flex;
    justify-content: space-between;
}
.pict2{
    width: 950px;
    height: 550px;
    margin-left: 100px;

}
.pict1{
    width: 950px;
    height: 550px;
    margin-right: 100px;
}
.body_text{
    width: 660px;
    height: 500px;
}
article{
    margin-top: 35px;
}
.ab1{
    border-bottom: 2px solid #303030;
    font-size: 35px;
    line-height: 2;
    margin-top: 180px;
    margin-left: 180px;
}
.ac1{
    font-size: 25px;
    margin-left: 180px;
}
.ab2{
    border-bottom: 2px solid #303030;
    font-size: 35px;
    line-height: 2;
    margin-top: 180px;
    margin-right: 180px;
}
.ac2{
    font-size: 25px;
    margin-right: 180px;
}
.ab3{
    border-bottom: 2px solid #303030;
    font-size: 35px;
    line-height: 2;
    margin-top: 130px;
    margin-right: 170px;
}
footer{
    background-color: #EAEAEA;
}
.end{
    margin-top: 100px;
    padding-top: 10px;
    padding-left: 150px;
    padding-bottom: 5px;
    border-bottom: 5px solid white ;
}
.m{
    text-decoration: none;
    font-size:20px;
    color: black;
    line-height: 2;
    margin-left:10px;
}
.l{
    display: flex;
    padding-left: 150px;
    padding-top: 30px;
}
.icon{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
}
.n{
    font-size: 30px;
    margin-right: 200px;
}
.i{
    display: flex;
    padding-left: 110px;
    margin-top: 60px;
}
.o{
    text-decoration: none;
    font-size: 20px;
    border-right: 2px solid black ;
    margin-left: 40px;
    padding-right: 40px;
    color: black;
}
.o1{
    text-decoration: none;
    font-size: 20px;
    margin-left: 40px;
    padding-right: 40px;
    color: black;
}
.j{
    font-size: 20px;
    margin-left: 145px;
    padding-bottom: 50px;
}